@import url(https://fonts.googleapis.com/css2?family=Megrim&family=Raleway&family=Poppins&family=Didact+Gothic&display=swap);

.containerv {
    width: 550px;
    margin: 50px auto;
    background: #1a1a22;
    box-shadow: 0 0 10px 0 #000;
    position:relative;
    overflow: hidden;
}

.containerimgv {
    background:url(https://i.imgur.com/uxscuav.png);
    width: 100%;
    background-image: cover;
    overflow: hidden;
    height: 200px
}

.titlev {
    background-color: transparent;
    backdrop-filter: blur(1px);
    font-weight: bold;
    font-size: 18px;
    font-family: 'Megrim', cursive;
    color: white;
    border: 1px solid white;
    padding: 20px 0;
    margin: 100px auto;
    width: 55%;
    text-align: center;
    position: relative;
    top: 35px;
    text-shadow: 2px 2px 2px black;
}

.textcontainerv {
    color: #f8f8ff;
    font-size: 12px;
    padding: 20px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: 1;
    text-shadow: 1px 1px 1px black;
}

.hr1 {
    height:1px;
    border: none;
    background-color: #fff;
    width: 92%;
    margin: auto;
    box-shadow: 0 0 2px black;
}

.hist {
    background-color: transparent;
    width: 500px;
    font-family: 'Poppins',sans-serif;
    font-size: 11px;
    color:#fbfbf8;
    text-align: justify;
    padding: 20px 0;
}

.containerv::before {
    content: '';
    display: block;
    width: 500px;
    height: 560px;
    background-image:url(https://i.pinimg.com/564x/91/e5/b3/91e5b308e604221944bb303d46a6e4c2.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 15%
}
