f{/*Falas Alip*/
	color:#e60099;
}

ff{/*Pensamentos Alip*/
	color:#cc0033;
}

b1{
	color: #8042a1
}

/*Vermelhos*/
v1{
	color: #c70633;
}
v2{
	color: #c72e2e;
}
v3{
	color: #EE3B3B;
}
/*Azuis*/
a1{
	color: ##5a36bf;
}
a2{
	color: #8a66bd;
}
a3{
	color: #24bbed;
}
a4{
	color: #329fb3;
}
a5{
	color: #7874B0;
}
a6{
	color:  #664fb0;
}

/*Cinzas*/
c1{
	color: #696969;
}
c2{
	color: ##ab9b9b;
}
c3{
	color: ##abbacc;
}
/*Golds e amarelos*/
g1{
	color: #FFD700;
}
g2{
	color: #f0b216;
}
g3{
	color: #DAA520;
}
/*Roxos e rosas*/
r1{
	color: #e32747;
}
r2{
	color: #DB7093;
}
r3{
	color: #DA70D6;
}
/*Marrons*/
m1{
	color: ##ba571a; 
}
m2{
	color: ##8a6328;
}
m3{
	color: #b86046;
}

/*Verdes*/

vd1{
	color: #34ED23;
}
vd2{
	color: #54FF9F;
}
vd3{
	color: #5bd950;
}
vd4{
	color: #3DDB8F;
}
vd5{
	color: #2C855A;
}

v{
  color: #87cefa
}

r5{
  color: #a569bd
}
